/* 
COLORS
#D1891C => Discount bar bg
#00669F => Blue bg
#F3F3F3 => Card content bg
#333333 => Discount and card content font color
#F3F3F3 => Button font color
#FFF9F9 => Footer font color
*/

/* 
MEDIA QUERIES
0-480px
481-768px
769-1279px
+1280px
*/

/* Reseteo básico inicial */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, p, a { font-weight: 400; }

a { text-decoration: none; }

/* Mobile first | Diseño desde 0px hasta 480px */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.discount {
  width: 100%;
  height: auto;
  background-color: #D1891C;
  padding: .2rem 0;
  font-size: 1.2rem;
}

.discount-text { font-size: 1.2rem }

.header {
  font-size: 1.2rem;
  color: #FFF;
  background-color: #00669F;
  text-transform: capitalize;
  padding: 1rem 0;
  margin-bottom: 1.6rem;
}

.header-title { font-size: 1.8rem; }

.card-container {
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 4px rgba(0 0 0 / .25);
}

.card-bg {
  position: relative;
  width: inherit;
  height: 200px;
  background-image: url(../img/batman_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem 1.5rem 0 0;
}

.card-photo {
  position: absolute;
  width: 10rem;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
}

.card-heart {
  position: absolute;
  width: 2rem;
  top: 1rem;
  left: 1rem;
}

.card-content {
  width: 100%;
  background-color: #F3F3F3;
  padding: 6rem 1rem 2.6rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
}

.button {
  display: inline-block;
  background-color: #00669F;
  color: #F3F3F3;
  padding: 1rem 3rem;
}

/* Breakpoint 481px hasta 768px <=> Dispositivos móviles medianos | Tablets orientación vertical */
@media screen and (min-width: 481px) {
  
}

/* Breakpoint 769px hasta 1279px <=> PC pequeñas | Tablets orientación horizontal */
@media screen and (min-width: 769px) {
  
}

/* Breakpoint 1280px y superiores <=> Dispositivos pantallas grandes */
@media screen and (min-width: 1280px) {
  
}